{% include 'components/_meta.njk' %}
{% include 'layouts/_default.njk' %}
{% include 'components/_introduction.njk' %}
{% include 'components/_leadership.njk' %}
{% include 'components/_testimonials.njk' %}
{% include 'components/_writing.njk' %}
{% include 'components/_contact.njk' %}
{% include 'components/_footer.njk' %}
