<section class="b-dark-pink c-black-pink t-center p-2">
	<div class="container">
		<div class="row">
			<div class="column col-6 t-left">
				<h2>
					<a name="get-in-touch">
						Let's talk!
					</a>
				</h2>

				<p>
					I'm happy to chat about anything, but here's some ideas what you can ask me about:
				</p>

				<ul>
					<li>mid-week meal ideas</li>
					<li>what records I'm listening to</li>
					<li>how I can help your business</li>
					<li>the latest crime mystery podcast</li>
					<li>this week's Eastenders / Drag Race</li>
				</ul>

				<small>
					or, send me pictures of your cat!
				</small>
			</div>

			<div class="column col-6">
				<form action="https://formspree.io/xqkygayk" method="POST">
					<label class="c-blue">
						<span class="c-dark-blue">*</span> Your name
						<input type="text" id="contact" name="_name" class="c-blue b-light-pink rounded-full p-2" placeholder="Required" required>
					</label>

					<label class="c-blue">
						<span class="c-dark-blue">*</span> Your email
						<input type="email" name="_replyto" class="c-blue b-light-pink rounded-full p-2" placeholder="Required" required>
					</label>

					<label class="c-blue">
						What's on your mind?
						<textarea name="message" rows=1 class="c-blue b-light-pink rounded-full p-2"></textarea>
					</label>

					<button type="submit" class="button b-light-pink c-black-pink t-center max-66 p-2">
						Send me your message
					</button>
				</form>
			</div>
		</div>
	</div>
</section>
