	<footer class="b-light-blue p-2">
		<div class="container">
			<div class="row">
				<div class="column col-6 t-center">
					<img src="img/waves/waveillo-dark-blue.svg" class="logo max-50">
				</div>
			</div>
		</div>
	</footer>

	<footer class="b-dark-blue c-white p-2">
		<div class="container">
			<div class="row">
				<div class="column col-4 t-left">
					<p>2021 &copy; Jessica Scott</p>
				</div>

				<div class="column col-4 t-center">
					<p>
						<a href="#introduction" class="c-pink">
							Back to the top
						</a>
					</p>
				</div>

				<div class="column col-4 t-right c-pink">
					<p>
						Website by <a href="https://kerrisharp.com" target="_blank" class="c-pink">Kerri Sharp</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
