<header class="b-dark-blue t-center">
	<div class="container">
		<img src="img/waves/waveillo-pink.svg" class="logo">

		<h2 class="c-white p-2">
			{{ title }}
		</h2>

		<a href="#introduction" class="button b-pink c-black-pink p-2">
			Find out how I can help you
		</a>
	</div>
</header>
