<section class="c-dark-blue p-2">
	<div class="container">
		<div class="row">
			<div class="column col-8">
				<h1>
					<a name="introduction">
						Hello, I'm Jess<span class="c-dark-pink">.</span>
					</a>
				</h1>

				<p>
					I currently live in Somerset, England.
				</p>

				<p>
					I'm Head of Brand at <a href="https://thinkproductive.co.uk/" target="_blank" class="c-dark-pink">Think Productive</a>, where I'm passionate about building our global audience, pushing the brand forward and experimenting with social trends.
				</p>

				<p>
					Amongst my colleagues, I make it my mission to always champion wellbeing and work-life balance and I love making people feel appreciated by shouting about their accomplishments.
				</p>

				<p>
					In my personal life I am passionate about fairness and equality. I love cooking, murder mysteries (latest watch: American Murder: The Family Next-door), musical theater and learning about history. I have an unhealthy obsession with star signs (I'm an Aries) and I'll try to guess your star sign within an hour of meeting you!
				</p>
			</div>

			<div class="column col-4">
				<img class="img-responsive rounded border border-dark-pink" src="img/jessica-3.jpg" alt="Jessica is pictured looking towards the camera. She is wearing a black polka-dot dress and has a bow in her hair.">
			</div>
		</div>
	</div>
</section>
