<section class="b-light-blue c-dark-blue p-2">
	<div class="container">
		<div class="row">
			<div class="column col-4">
				<img class="img-responsive rounded border border-dark-pink" src="img/jessica.jpg" alt="Jessica is pictured looking off to the side of the camera. She is wearing a black polka-dot dress and has a bow in her hair.">
			</div>

			<div class="column col-8">
				<h2>
					<a name="introduction">
						On Leadership
					</a>
				</h2>

				<p>
					I have two brilliant women to thank for my interest in becoming a workplace Leader and for shaping my career.
				</p>

				<p>
					First of all, <a href="https://www.linkedin.com/in/rebecca-goodger-aa37291a/" target="_blank" class="c-dark-blue">Rebecca Goodger</a> at <strong>Qualifa</strong> who encouraged me to apply for my first Team Leader position when I was 17, as she saw something in me that I didn't.
				</p>

				<p>
					Secondly, <a href="https://www.linkedin.com/in/elenathinkproductive/" target="_blank" class="c-dark-blue">Elena Kerrigan</a> at <strong>Think Productive</strong>, who has been mentoring me since I joined the company to be the best version of myself that I can be, and always encourages me to push myself further.
				</p>

				<p>
					I've also always been keen to lead side projects alongside my full-time job. Most notably I created <strong>Jess &amp; Josh Cook</strong>, which was a food blog, cafe and catering business. I love writing and I love cooking for other people, so this was a no-brainer!
				</p>

				<p>
					Alongside our CEO at Think Productive, I also wrote an eCourse for our membership site on <em>"How to Manage a Side Hustle"</em>, so if that's something that interests you, <a href="#contact" class="c-pink">drop me an email</a> and I can get it over to you.
				</p>
			</div>
		</div>
	</div>
</section>
