<section class="b-light-pink c-black-pink p-2">
	<div class="container">
		<div class="row">
			<div class="column col-8">
				<h2>
					<a name="introduction">
						My writing
					</a>
				</h2>

				<p>
					I'm currently trying my hand at writing my first book, so if you have any tips for a newbie, please send them my way!
				</p>

				<p>
					Until then, you can take a look at some of my previous articles here:
				</p>

				<ul>
					<li>
						<a href="https://thinkproductive.co.uk/online-workshops-lessons/" target="_blank" class="c-dark-blue">
							Delivering Online Workshops
						</a>
					</li>

					<li>
						<a href="https://www.linkedin.com/pulse/keys-motivating-remote-team-jessica-scott/" target="_blank" class="c-dark-blue">
							The keys to motivating a remote team
						</a>
					</li>

					<li>
						<a href="https://www.linkedin.com/pulse/making-space-deep-thought-jessica-scott/" target="_blank" class="c-dark-blue">
							Making space for deep thought
						</a>
					</li>

					<li>
						<a href="https://www.linkedin.com/pulse/what-makes-good-leader-jessica-scott/" target="_blank" class="c-dark-blue">
							What makes a Good Leader?
						</a>
					</li>

					<li>
						<a href="https://citygirlnetwork.com/magazine/dealing-anxiety-workplace" target="_blank" class="c-dark-blue">
							Dealing With Anxiety In The Workplace
						</a>
					</li>

					<li>
						<a href="https://thinkproductive.co.uk/how-i-stay-productive-jessica-scott/" target="_blank" class="c-dark-blue">
							How I Stay Productive
						</a>
					</li>

					<li>
						<a href="https://thinkproductive.co.uk/getting-back-on-track-after-a-bad-month/" target="_blank" class="c-dark-blue">
							Getting Back on Track After a Bad Month
						</a>
					</li>

					<li>
						<a href="https://thinkproductive.co.uk/is-pen-and-paper-dead/" target="_blank" class="c-dark-blue">
							Is Pen and Paper Dead?
						</a>
					</li>

					<li>
						<a href="https://thinkproductive.co.uk/how-to-wrap-up-productively-before-your-holiday/" target="_blank" class="c-dark-blue">
							How to Wrap up Productively Before Your Holiday
						</a>
					</li>

					<li>
						<a href="https://www.linkedin.com/pulse/working-from-home-keeping-your-sanity-jessica-scott/" target="_blank" class="c-dark-blue">
							Working From Home & Keeping Your Sanity
						</a>
					</li>

					<li>
						<a href="https://www.linkedin.com/pulse/look-productivity-ninja-wellbeing-jessica-scott/" target="_blank" class="c-dark-blue">
							A look at Productivity Ninja wellbeing
						</a>
					</li>

				</ul>
			</div>

			<div class="column col-4">
				<img class="img-responsive rounded border border-dark-pink" src="img/jessica-2.jpg" alt="Jessica is pictured looking down off camera. She is wearing a black polka-dot dress and has a bow in her hair.">
			</div>
		</div>
	</div>
</section>
